<div class="card">
  <div class="card-body">
    <p class="card-text">{{comment_info}}</p>
    <label id="postId" data-postId="{{comment.post_id}}" class="card-text">-
      {{user.username}}
      on
      {{format_date createdAt}}</label>
  </div>
</div>