
{{#if posts.length}}
{{#each posts}}
<div class="card">
  <div class="card-header">
    <a href="/edit/{{id}}">{{title}}</a>
    <p>{{format_date createdAt}}</p>
  </div>
</div>
{{/each}}
{{/if}}

 <form  style="display:none" id="postForm" class="form">
    <div class="form-group">
      <label for="title"> Title: </label>
      <input class="form-input" type="text" id="postTitle" />
    </div>
    <div class="formgroup">
      <label for="content"> Content: </label>
      <textarea data-name="{{user_id}}" rows="3" class="form-input" type="text" id="postContent" />
      </textarea>
    </div>
    
      <button onclick="newPostHandler()" class="btn btn-primary" type="submit">Submit Post</button>
</div>
 </form>

<button class=" justify-content-center" onclick="showCreatePost()">+ Create Post</button>

<script src="/js/dashboard.js"></script>