{{> post-card}}

{{#if logged_in}}

<form class="mt-4">
  <div class="row form-group">
    <label class="h5" for="commentInfo">Please leave a comment</label>
    <textarea class="form-control" id="commentInfo" rows="3"></textarea>
  </div>
  <button onclick="newCommentHandler()" id="stayHere"  data-name="{{id}}" type="submit" class="btn mb-2 border border-dark rounded"> Submit</button>
</form>

{{/if}}

<div class="h3 mt-3">Comments:</div>
{{#each comments as |comment|}}
{{> comment-info}}
{{/each}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}
